*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
li {
    padding: 10px;
    display:inline-block;
}

/*Navigation Styles*/
.main-header{
    width: 100%;
    background: linear-gradient(.75turn, #F27A5E, #F2B872);
}
.main-header, .switches{
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    justify-content: space-between;
}

.switches {
    color: white;
    font-size: 1.2rem;
}

.logo{
    object-fit: contain;
    margin: 10px;
}

.switches  li {
    align-self: center;
    border: 2px #0E3659 solid;
    margin: 9px;
    border-radius: 3rem;
    background: #0E3659;
    font-family: 'RocknRoll One', sans-serif;
    min-width: 6rem;
    text-align: center;
}

/*Main Body Style*/

h1 {
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
h2 {
    padding-left: 1rem;
}

p {
    padding: 1rem 0.5rem 3rem 1rem;
}
.cherry-info,
.kailh-info,
.novelkey-info {
    height: 20vh;
    margin: 2rem 3rem;
    border-radius: 0.75rem;
    border-bottom: 0.95rem solid #0E3659;
    border-right: 0.95rem solid #031059;
}

/* Style for background in articles */
.cherry-info {
    /* background: url('images/cherrymx.png') no-repeat center / contain; */
    background-color: #F2B872;
}
.kailh-info {
    /* background: url('images/kailh.jpg') no-repeat center / contain; */
    background: linear-gradient(360deg, #F27A5E, #F2B872);
}
.novelkey-info {
        /* background: url('images/novelkeys.png') no-repeat center / contain; */
    background-color: #F27A5E;
}

/* Media query section below */

@media  (min-width: 679px) {

    h2 {
        font-family: sans-serif;
        margin: 0.625rem 0;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between
    }
    .cherry-info,
    .kailh-info,
    .novelkey-info {
        height: auto;
        margin: auto 1rem;
    }
    .cherry-info {
    /* background: url('images/cherrymx.png') no-repeat center / contain; */
    background-color: #F2B872;
}
.kailh-info {
    /* background: url('images/kailh.jpg') no-repeat center / contain; */
    background: linear-gradient(to left, #F27A5E, #F2B872);
}
.novelkey-info {
        /* background: url('images/novelkeys.png') no-repeat center / contain; */
    background-color: #F27A5E;
}
}