*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
li {
    padding: 10px;
    display:inline-block;
}

/*Navigation Styles*/
.main-header{
    width: 100%;
    background: linear-gradient(.75turn, #F27A5E, #F2B872);
}
.main-header, .switches{
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    justify-content: space-between;
}

.switches {
    color: white;
    font-size: 1.2rem;
}

.logo{
    object-fit: contain;
    margin: 10px;
}

.switches  li {
    align-self: center;
    border: 2px #0E3659 solid;
    margin: 9px;
    border-radius: 3rem;
    background: #0E3659;
    font-family: 'RocknRoll One', sans-serif;
    width: 12vw;
    text-align: center;
}

/*Main Body Style*/

h1 {
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}

.cherry-info,
.kailh-info,
.novelkey-info {
/*     border: 2px blue solid; */
    width 80vw;
    height: 20vh;
    margin: 2rem 3rem;
    border-radius: 0.75rem;
    border-bottom: 0.95rem solid #0E3659;
    border-right: 0.95rem solid #031059;
}

.cherry-info {
    background: url('images/cherrymx.png') no-repeat center / contain;
}
.kailh-info {
    background: url('images/kailh.jpg') no-repeat center;
}
.novelkey-info {
    background: url('images/novelkeys.jpg') no-repeat center;
}